<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	        <typeAlias alias="Beam" type="org.zm.model.Beam"/>
	</typeAliases>

    <environments default="user">
        <environment id="user">
            <transactionManager type="JDBC"/>
                <dataSource type="POOLED">
                        <property name="driver" value="{0}"/>
                        <property name="url" value="{1}"/>
                        <property name="username" value="{2}"/>
                        <property name="password" value="{3}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/zm/mapper/BeamMapper.xml"/>
    </mappers>
</configuration>
