<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zm.mapper.UserAccountMapper">
        <resultMap id="result" type="UserAccount">
		<id property='id' column='id'/>
		<result property='uname' column='uname'/>
		<result property='fname' column='fname'/>
		<result property='lname' column='lname'/>
		<result property='passwd' column='passwd'/>
		<result property='shard' column='shard'/>
        </resultMap>

        <select id="get" parameterType="_long" resultMap="result">
                SELECT * FROM UserAccount WHERE id = #{id}
        </select>

        <select id="getByUname" parameterType="String" resultMap="result">
                SELECT * FROM UserAccount WHERE uname = #{uname}
        </select>

	<insert id="create" parameterType="UserAccount" useGeneratedKeys='true' keyProperty='id'>
		INSERT INTO UserAccount (uname, fname, lname, passwd, shard)
		VALUES (#{uname}, #{fname}, #{lname}, #{passwd}, #{shard})
	</insert>

	<update id="changePasswd" parameterType="map">
		UPDATE UserAccount SET passwd=#{passwd} WHERE id=#{id}
	</update>

	<delete id="delete" parameterType="_long">
		DELETE FROM UserAccount WHERE id=#{id}
	</delete>
</mapper>
